/* === ABOUT EXTRAS SECTION === */
.about-extras {
  padding: 50px 9vw 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.extras-intro {
  font-size: clamp(1.5rem, 2vw, 1.6rem);
  text-align: center;
  margin: 0 auto 65px;
  color: rgb(204, 204, 204);
  max-width: 1150px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  text-transform: lowercase;
}

/* Grid */
.extras-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  max-width: 1325px;
  width: 100%;
  align-items: stretch; /* crucial for height syncing */
}

.extras-column {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1;
}


@media (max-width: 992px) {
  .toolkit-card {
    max-width: 750px;
    padding: 25px 24px 50px;
    margin: 30px auto 0px;
  }
}

/* Responsive */
@media (max-width: 1400px) {
  .about-extras {
    padding: 100px 6vw 80px;
  }

  .extras-intro {
    font-size: 1.5rem;
    max-width: 1100px;
  }
}

@media (max-width: 992px) {
  .extras-grid {
    flex-direction: column;
  }

  .extras-column {
    display: flex;
    flex-direction: column;
  }

  .spotify-card-wrapper {
    order: 1;
  }

  .personal-card {
    order: 2;
  }

  .pinterest-card {
    order: 4;
  }

  .joy-card {
    order: 3;
  }

  .dates-card {
    order: 5;
  }

  .toolkit-card {
    order: 6;
  }
}

@media (max-width: 992px) {
  .extras-column {
    display: contents; /* Treat children as direct grid items */
  }
}