@use './partials/tokens';

.back-button-wrapper {
  position: fixed;
  top: 30px;
  left: 50px;
  z-index: 210;
  transition: opacity 0.3s ease, transform 0.3s ease;
  
  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  &.hidden {
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
  }
}

.back-bubble {
  display: inline-flex;
  align-items: center;
  gap: 10px;

  padding: 12px 22px 12px 24px;
  border-radius: 999px;
  background: rgba(14, 14, 23, 0.445);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.12);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.12);
  transition: color 0.275s ease-in-out, transform 0.275s ease, box-shadow 0.3s ease;

  color: tokens.$prisec;
  @include tokens.type-coop-nav-bold;
  cursor: pointer;
  user-select: none;
  text-decoration: none;

  &:hover {
    transform: scale(1.035);
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.05);
  }
}

.back-bubble:hover .back-label,
.back-bubble:focus-visible .back-label {
  color: tokens.$secondary;
  filter: brightness(1.2) drop-shadow(0 0 2px rgba(255, 255, 255, 0.1));
}

.back-bubble:hover .back-arrow,
.back-bubble:focus-visible .back-arrow {
  filter: brightness(1.2) drop-shadow(0 0 2px rgba(255, 255, 255, 0.1));
  transform: rotate(-135deg);
}

.back-arrow {
  width: 16px;
  height: 16px;
  flex: 0 0 16px;
  transform: rotate(-135deg);
  margin-top: -0.25px;
  margin-left: -6px;
  margin-right: -2px;
  pointer-events: none;
}

.back-bubble, .back-bubble * { 
  text-decoration: none !important; 
}

/* Mobile responsiveness */
@media (max-width: #{tokens.$lg_breakpoint}) {
  .back-button-wrapper {
    left: 38px;
    top: 20px;
  }
  
  .back-bubble {
    padding: 10px 18px 10px 20px;
    font-size: 0.9rem;
  }
}

@media (max-width: #{tokens.$sm_breakpoint}) {
  .back-button-wrapper {
    left: 24px;
    top: 16px;
  }
}