.cursor-label {
  position: fixed;
  font-size: 0.85rem;
  background: #040E10;
  color: white;
  padding: 8px 18px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  white-space: nowrap;
  pointer-events: none;
  z-index: 10000;
  display: none;
  transition: opacity 0.3s ease;
}
