.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
    will-change: transform, opacity;
    opacity: 1;
    transition: opacity 0.2s ease;
  
    img {
      width: 55%;
      height: 55%;
      transition: none;
    }
  
    &.hover {
      width: 70px;
      height: 70px;
      img {
        width: 72%;
        height: 72%;
        transform: translateY(-2px) translateX(-0.75px);
      }
    }
  }