@use './partials/tokens'; // SCSS Example 

/* === HERO SECTION === */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 85vh;
  padding: 16px 0 80px;
}

/* === hello, my name is === */
.font-cooper-italic-hello {
  @include tokens.type-coop-display1;
  color: tokens.$primary;
}
.hero-title {
  @include tokens.type-mont-display1;
  color: tokens.$primary;
}

/* === a product futurist === */
.font-cooper-italic-tag {
  @include tokens.type-coop-display2;
  color: tokens.$primary;
}
.hero-tagline {
  @include tokens.type-mont-display2;
  color: tokens.$primary;
  line-height: 1.25;
  margin: 67px auto 15px;
  margin-bottom: -15px;
}


/* === prev/current === */
.hero-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  margin-top: 40px;
}
.hero-column h4 {
  @include tokens.type-coop-h1;
  color: tokens.$primary;
  margin-bottom: 6px;
}
.hero-column p {
  @include tokens.type-mont-body;
  color: tokens.$primary;
  margin: 5px 0; // can switch for line height
}
.hero-column a { // HOVER ANIMATION FOR LINKS
  color: tokens.$primary;
  text-decoration: underline;
  transition: filter 0.2s ease;
}
.hero-column a:hover {
  filter: brightness(1.5) drop-shadow(0 0 4px rgba(255, 255, 255, 0.55));
}

/* === scroll cue === */
.scroll-cue {
  margin-top: 50px; // doesn't exactly match with about
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroll-mouse {
  width: 20px;
  height: 32px;
  border: 2px solid tokens.$prisaac;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  position: relative;
}
.scroll-dot {
  width: 4px;
  height: 4px;
  background-color: tokens.$primary;
  border-radius: 50%;
  position: absolute;
  top: 7px; // aligned to top of capsule
  animation: scrollBounce 1.8s ease-in-out infinite;
}

/* bouncing animation for scroll cue */
@keyframes scrollBounce {
  0% {
    transform: translateY(0) scale(0);
    opacity: 0;
  }
  5% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  50% {
    transform: translateY(10px) scale(1);
    opacity: 1;
  }
  80% {
    transform: translateY(10px) scale(0);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(0);
    opacity: 0;
  }
}



/* === RESPONSIVENESS === */
/* ==========================
   XXL and above: ≥ 1600px
========================== */
@media (min-width: #{tokens.$xxl_breakpoint}) {
  .hero {
    padding: 16px 5vw 70px;
  }
}

/* ==========================
   XL - XXL: 1200px – 1599px
========================== */
@media (max-width: #{tokens.$xxl_breakpoint}) and (min-width: #{tokens.$xl_breakpoint}) {
  .hero {
    padding: 16px 5vw 70px;
  }
}

/* ==========================
   LG - XL: 992px – 1199px
========================== */
@media (max-width: #{tokens.$xl_breakpoint}) and (min-width: #{tokens.$lg_breakpoint}) {
  .hero {
    padding: 16px 5vw 70px;
  }
}

/* ==========================
   MD - LG: 768px – 991px
========================== */
@media (max-width: #{tokens.$lg_breakpoint}) and (min-width: #{tokens.$md_breakpoint}) {
  .hero {
    padding: 0px 5vw 60px;
  }
  .font-cooper-italic-hello {
    font-size: 1.8rem;
  }
  .hero-title {
    font-size: 1.65rem;
    margin-bottom: 30px;
  }
  .hero-tagline {
    font-size: 1.2rem;
    margin-bottom: -10px;
  }
  .font-cooper-italic-tag {
    font-size: 1.3rem;
  }
  .hero-info {
    gap: 60px;
  }
  .hero-column {
    text-align: center;
  }
}

/* ==========================
   SM - MD: 600px – 767px
========================== */
@media (max-width: #{tokens.$md_breakpoint}) and (min-width: #{tokens.$sm_breakpoint}) {
  .hero {
    padding: 0px 5vw 60px;
  }
  .font-cooper-italic-hello {
    font-size: 1.8rem;
  }
  .hero-title {
    font-size: 1.65rem;
    margin-bottom: 30px;
  }
  .hero-tagline {
    font-size: 1.2rem;
    margin-bottom: -10px;
  }
  .font-cooper-italic-tag {
    font-size: 1.3rem;
  }
  .hero-info {
    gap: 60px;
  }
  .hero-column {
    text-align: center;
  }
}

/* ==========================
   XS - SM: 425px – 599px
========================== */
@media (max-width: #{tokens.$sm_breakpoint}) and (min-width: #{tokens.$xs_breakpoint}) {
  .hero {
    padding: 0px 5vw 50px;
  }
  .font-cooper-italic-hello {
    font-size: 1.6rem;
  }
  .hero-title {
    font-size: 1.45rem;
    margin-bottom: 30px;
  }
  .hero-tagline {
    font-size: 1rem;
    margin-top: 60px;
    margin-bottom: -10px;
  }
  .font-cooper-italic-tag {
    font-size: 1.15rem;
  }
  .hero-info {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .hero-column {
    text-align: center;
  }
  .hero-column h4 {
    font-size: 1.1rem;
  }
  .hero-column p {
    font-size: 0.8rem;
  }
}


/* ==========================
   XXS - XS: 375px – 424px
========================== */
@media (max-width: #{tokens.$xs_breakpoint}) {
  .hero {
    padding: 0px 5vw 50px;
  }
  .font-cooper-italic-hello {
    font-size: 1.45rem;
  }
  .hero-title {
    font-size: 1.3rem;
    margin-bottom: 35px;
  }
  .hero-tagline {
    font-size: 0.85rem;
    margin-top: 55px;
    margin-bottom: -10px;
  }
  .font-cooper-italic-tag {
    font-size: 0.9rem;
  }
  .hero-info {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 60px;
  }
  .hero-column {
    text-align: center;
  }
  .hero-column h4 {
    font-size: 0.9rem;
  }
  .hero-column p {
    font-size: 0.7rem;
  }
}
