.portfolio-container {
  padding: 0;
  margin: 0;
}

.portfolio-section {
  display: flex;
  place-items: center;
  height: 100vh;
}

.title-text {
  font-size: 32px;
  font-weight: bold;
}

.about-page {
  /* add any styling to the about section! */
  background-color: #F5F8F9;
}

.projects-page {
  /* add any styling to the projects section! */
  background-color: #F1FBFD;
}

.contact-page {
  /* add any styling to the contact section! */
  background-color: #EDF3FF;
}